
@{
    Layout = null;
}

<body>
    <main>
        <header><h1>Linked<span>in</span></h1></header>
        <section>
            <h2>
                Sign in
            </h2>
            <p>
                Stay updated on your professional world
            </p>
            <input type="text" placeholder="Email or Phone">
            <div><div class="password"><input type="password" name="password" id="password" placeholder="Password"><a href="#">show</a></div></div>
            <a href="#" id="pwd-change">Forgot password?</a>
            <div id="button-container"><button type="submit">Sign in</button></div>
            <div class="flex"><div class="hor-line"></div><p>or</p><div class="hor-line"></div></div>
            <a href="#" id="apple-icon"><i class="fa fa-apple"></i><div>Sign in with Apple</div></a>
        </section>
        <p>New to LinkedIn? <a href="#">Join now</a></p>
        <footer>
            <nav>
                <a class="first" href="/Login/SignUp"><span>Linked</span><span>in</span> © 2023</a>
                <a href="#">User Agreement</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Community Guidelines</a>
                <a href="#">Cookie Policy</a>
                <a href="#">Copyright Policy</a>
                <a href="#">Send Feedback</a>
                <a href="#">Language</a>
            </nav>
        </footer>
    </main>
</body>
</html>