<section id="home">
    <form>

        <main class="content">
           
            <div class="post">
                <div class="post-header">
                    <img class="profile-header-img" src="~/Thema/assets/images/profilimage.jpg" alt="ProfilFoto">
                    <div class="post-author">
                        <h2>Kullanıcı Adı</h2>
                        <p><a href="#">İletişim Bilgileri</a></p>
                    </div>
                </div>
            </div>
            
                                    <button class="btn btn-style oval-buton btn-light">Açık</button>
                                <span class="buton-bosluk"></span>
                                    <button class="btn btn-style oval-buton btn-light">Profil Sayfası Görüntüle</button>
                                <span class="buton-bosluk"></span>
                                    <button class="btn btn-style oval-buton btn-light">Daha Fazla</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
        </main>
    </form>
</section>